<!DOCTYPE html>
<html lang="en">

<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="style.css" rel="stylesheet" title="Default Style">


	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Scraping With Mongoose</title>

</head>

<body>
	<div class='container'>
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Gizmodo Scraper</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav" id ="navi">
		        	<li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
		        	<li><a href="/saved">Saved Articles</a></li>
		    	</ul>
		    </div>

		</nav>

	
	{{{body}}}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js" type="text/javascript" charset="utf-8"></script>
	<script src="app.js"></script>
	
	
</body>

</html>