body{
	background-color: #d3d3d3 
}

#save-article{
	display: inline-flex;
}
#articles{
	display: inline-block;
	overflow: auto;
}

#notes{
}
textarea, input {
	width: 100%;
}
input {
	height: 36px;
	font-size: 24px;
}
textarea {
	height: 200px;
	font-size: 18px;
}